.footer{
    background-color: #5B6460;
    color: white;
    padding-top: 20px;
    padding-bottom: 30px;
    .row{
        justify-content: center;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
    }
}
