//the-cabins
.the-cabins{
    margin-bottom: 120px;
    display: flex;
    align-items: flex-end;
}
.thecabins-text{
    padding-left: 145px;
    color: #5B6460;
    h1{
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        font-weight: 400;
        line-height: 40px;
    }
    p{
        width: 470px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
    }
    button{
        cursor: pointer;
        background: none;
        border: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        color: #5B6460;
        border-bottom: 1px solid #5B6460;
        &:active{
            background-color: #5B6460;
            color:white;
            
        }
    }
}
.thecabins-img{
    display: flex;
    img{
        width: 693px;
        height: 438px;  
    }
} 
//photos-block
.photos-work{
    .row{
        justify-content: center;
        gap:60px
    }
    margin-bottom: 120px;   
}
.the-forest{
    background-color: rgba(233, 236, 224, 1);
    .the-forest-info{
        padding-right:150px;
        padding-left: 130px;
        justify-content: center;
        color: #5B6460;
        h1{
            font-family: 'Open Sans', sans-serif;
            font-size: 40px;
            font-weight: 400;
            line-height: 40px;
        }
        p{
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 30px;
        }
        button{
            cursor: pointer;
            background: none;
            border: none;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-style: italic;
            font-weight: 600;
            color: #5B6460;
            border-bottom: 1px solid #5B6460;
            &:active{
                background-color: #5B6460;
                color:white;
                
            }
        }
    }
}
//facilities
.facilities{
    padding-top: 120px;
    background-color: #5B6460;
    color: white;
    display: flex; 
    .row{
    justify-content: center;
    }
    h1{
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        font-weight: 300;
        line-height: 40px;
        text-align: center;
        margin-bottom: 80px;
    }
    .facilities-icons{
        width: 830px;
        display: flex;
        flex-wrap: wrap;
        gap: 80px 120px;
        margin-bottom: 120px;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
    }
    .icon{
        width: 100px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
//more-about-us
.photos{
    display: flex;
    .img1{
        width: 50%;
        position: relative;
    }
    .img2{
        width: 50%;
    }
}
.circle-more-us{
    position: absolute;
    left: 45%;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 157px;
    height: 157px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    h1{
        color: black;
        font-family:'Quicksand', sans-serif;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        align-self: center;
    }
}
