// slider
.slider{
    height: 700px;
    .row{
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}
.book-price{
    margin-left: 148px;
    margin-bottom: 120px;
    position: relative;
    top:-70px;
    .book-now{
        height: 100px;
        width: 263px;
        font-family:'Quicksand', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
    }
    .bth-price{
        position: relative;
        left:-4px;
        top:-24px;
        height: 100px;
        width: 120px;
        background-color: #E9ECE0;
        font-family: 'Quicksand', sans-serif;
        font-size: 12px;
        font-weight: 300;
        border: none;
        .flex-box{
            display:flex;
            flex-direction: column;
            justify-content: center;
        }
        .price{
            font-family: 'Quicksand', sans-serif;
            font-size: 22px;
            font-weight: 500;
            line-height: 28px;
            text-align: center;
        }
    }  
}

.slider{
    background: url(images/lider.png) no-repeat center;
    color: #ffff;
    h1{
        font-family: 'Open Sans', sans-serif;
        font-size: 70px;
        font-weight: 300;
        line-height: 72px;
    }
    p{
        font-family: 'Mulish', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
    }
}